<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="outputFile" value="C:\Users\DELL I7\Desktop\Project_Askia\Output\"/>
    <add key="SimpleExampleHeader" value="C:\Users\DELL I7\Desktop\Project_Askia\Input\SimpleExampleHeader.csv, true"/>
    <add key="SimpleExamplewithoutHeader" value="C:\Users\DELL I7\Desktop\Project_Askia\Input\SimpleExamplewithoutHeader.csv, false"/>
    <add key="ExampleCommasAndQuoted" value="C:\Users\DELL I7\Desktop\Project_Askia\Input\ExampleCommasAndQuoted.csv, true"/>
    <add key="ExampleCommasAndQuotedWithOutHeader" value="C:\Users\DELL I7\Desktop\Project_Askia\Input\ExampleCommasAndQuotedWithOutHeader.csv, false"/>
    <add key="ExampleCommasAndDoubleQuoted" value="C:\Users\DELL I7\Desktop\Project_Askia\Input\ExampleCommasAndDoubleQuoted.csv, true"/>
    <add key="ExampleCommasAndQuotedAndbreaksLine" value="C:\Users\DELL I7\Desktop\Project_Askia\Input\ExampleCommasAndQuotedAndbreaksLine.csv, true"/>
    <add key="fileNotExist" value="C:\Users\DELL I7\Desktop\Project_Askia\Input\fileNotExist.csv, true"/>
    <add key="EmtyFile" value="C:\Users\DELL I7\Desktop\Project_Askia\Input\EmtyFile.csv, false"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
